/* Landingpageoption2 */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

p {
    margin: 0;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.clip-contents {
    overflow: hidden;
}

.button {
    transition: border-bottom 0.3s ease-in-out;
}

.button:hover,
.button:focus {
    transition: ease-in;
    cursor: pointer;
    border-bottom: 2px solid rgba(196, 83, 44, 1);
    /*box-shadow: 1px 2px 20px rgba(131, 144, 183, 0.5);*/
}

.flex-col-hstart-vstart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-hend {
    justify-content: flex-end;
}

.flex-hcenter {
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col-hcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row-vend {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.flex-row-vcenter-hstart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex-row-vstart-hstart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.landing-page-option-2 {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 1452px;
}

.grad {
    position: absolute;
    top: 100%;
    bottom: -132.23%;
    left: 0%;
    right: 24.32%;
    background: linear-gradient(222.62deg,
    rgba(194, 201, 206, 0.08) 0%,
    rgba(225, 228, 231, 0.42) 8%,
    rgba(237, 238, 240, 0.22) 16%,
    rgba(255, 255, 255, 0.97) 40%,
    rgba(226, 229, 231, 0.03) 65%,
    rgba(249, 249, 249, 0.99) 75%,
    rgba(251, 251, 251, 1) 83%,
    rgba(237, 236, 237, 0.07) 100%);
    transform: rotate(-90deg);
    width: 1453px;
    height: 1920px;
}

.background-elements {
    position: absolute;
    top: 79px;
    width: 2084.78px;
    height: 1330.08px;
    background-image: url('./assets/backgroundelements.svg');
}

.background-elements-1 {
    position: absolute;
    top: 635px;
    left: 4px;
    width: 1854.08px;
    height: 732.08px;
    background-image: url('./assets/backgroundElements1.svg');
}

.rectangle-10 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(42, 41, 119, 1);
    height: 57px;
    width: 100%;
    text-align: center;
}

.top-text {
    font-size: 20px;
    color: white;
    position: relative;
    top: 15px;

}

.top-text-stroke {
    font-size: 20px;
    color: white;
    position: relative;
    top: 15px;
    text-decoration: underline;
}

.txt-410 {
    position: absolute;
    top: 83px;
    left: 1518px;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: rgba(196, 83, 44, 1);
    width: 80px;
    white-space: nowrap;
    height: 40px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    word-wrap: break-word;
}

.txt-528 {
    position: absolute;
    top: 436px;
    left: 375px;
    font-size: 24px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    line-height: 175%;
    color: rgba(18, 16, 50, 1);
    text-align: center;
    width: 1171px;
    height: 84px;
    word-wrap: break-word;
}

.group-1 {
    position: absolute;
    top: 101px;
    left: 500px;
    width: 690px;
    height: 40px;
    align-items: center;
}

.txt-113 {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(196, 83, 44, 1);
    white-space: nowrap;
    margin-right: 32px;
    height: 40px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}

.txt-0510 {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(196, 83, 44, 1);
    white-space: nowrap;
    margin-right: 33px;

}

.txt-517 {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(196, 83, 44, 1);
    word-wrap: break-word;
    margin-right: 39px;
}

.txt-688 {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(196, 83, 44, 1);
    word-wrap: break-word;
}

.group-494 {
    position: absolute;
    top: 79px;
    left: 1668px;
    padding: 20px 27px 18px 27px;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: rgba(196, 83, 44, 1);
    width: 143px;
    height: 65px;
}

.txt-136 {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    word-wrap: break-word;
}

.locusview-logo {
    position: absolute;
    top: 101px;
    left: 64px;
    width: 184px;
    height: 24px;
}

.headline {
    position: absolute;
    top: 232px;
    left: 508px;
    width: 904px;
    height: 169px;
}

.txt-752 {
    font-size: 64px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: rgba(18, 16, 50, 1);
    word-wrap: break-word;
    margin-bottom: 12px;
}

.txt-544 {
    font-size: 63px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: rgba(18, 16, 50, 1);
    word-wrap: break-word;
}

.icons-search {
    position: absolute;
    top: 575px;
    left: 614px;
    width: 24px;
    height: 24px;
}

.txt-819:focus {
    outline: none;
}

.txt-819 {
    position: absolute;
    top: 566px;
    left: 647px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    line-height: 263%;
    color: rgba(117, 117, 117, 1);
    width: 235px;
    height: 42px;
    word-wrap: break-word;
    border: none;
}

.line-2 {
    position: absolute;
    top: 614px;
    left: 613px;
    border-top: 2px solid rgba(18, 16, 50, 1);
    border-radius: 10px;
    width: 479px;
}

.group-3 {
    position: absolute;
    top: 559px;
    left: 1118px;
    padding: 13px 31px 16px 28px;
    box-sizing: border-box;
    border-radius: 6px;
    background: linear-gradient(0deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1)),
    linear-gradient(0deg, rgba(196, 83, 44, 1), rgba(196, 83, 44, 1));
    border: 3px solid rgba(196, 83, 44, 1);
    width: 195px;
    height: 60px;
    box-shadow: 4px 4px 0px #C4532C;
}

.txt-630 {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(196, 83, 44, 1);
    text-align: center;
    word-wrap: break-word;
}

.group-15 {
    position: absolute;
    top: 921px;
    left: 70px;
    width: 2170px;
    height: 416px;
}

.group-9 {
    padding: 27px 25px 32px 15px;
    margin-right: 80px;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 6px 4px 20px rgba(131, 144, 183, 0.1);
    height: 100%;
}

.group-569 {
    margin-bottom: 33px;
    box-sizing: border-box;
    width: fit-content;
}

.image-12 {
    width: 134px;
    height: 58px;
    margin-bottom: 14px;
}

.line-5 {
    border-top: 1px solid rgba(219, 226, 238, 1);
    width: 314px;
    height: 1px;
    opacity: 0.8;
    margin-bottom: 15px;
}

.txt-177 {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(117, 117, 117, 1);
    word-wrap: break-word;
    margin-bottom: 17px;
    margin-top: 15px;
}

.txt-216 {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(18, 16, 50, 1);
    width: 312px;
    word-wrap: break-word;
    margin-bottom: 21px;
}

.group-625 {
    margin-bottom: 23px;
    box-sizing: border-box;
    width: fit-content;
}

.frame-1 {
    position: relative;
    margin-right: 17px;
    box-sizing: border-box;
    height: 100%;
    top: 10px;
}

.group-14 {
    position: absolute;
    top: 0px;
    left: 50px;
    padding: 10px 5.5px 8.5px 5px;
    box-sizing: border-box;
    border-radius: 18.5px;
    background-color: rgba(247, 199, 46, 1);
    border: 0px solid rgba(0, 0, 0, 1);
    width: 36.5px;
    height: 100%;
}

.txt-1012 {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    word-wrap: break-word;
}

._-76 {
    width: 36.5px;
    height: 100%;
}

.txt-763 {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(18, 16, 50, 1);
    width: 123px;
    word-wrap: break-word;
    top: 1px;
}

.line-4 {
    border-top: 1px solid rgba(219, 226, 238, 1);
    width: 314px;
    height: 1px;
    opacity: 0.8;
}

.group-7 {
    padding: 12px 70px 17px 67px;
    box-sizing: border-box;
    border-radius: 6px;
    background: linear-gradient(0deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1)),
    linear-gradient(0deg, rgba(18, 16, 50, 1), rgba(18, 16, 50, 1));
    border: 3px solid rgba(18, 16, 50, 1);
    height: 60px;
    width: fit-content;
    box-shadow: 4px 4px 0px rgba(18, 16, 50, 1);
}

.txt-877 {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(18, 16, 50, 1);
    text-align: center;
    word-wrap: break-word;
}

.group-11:hover {
    box-shadow: 6px 4px 20px rgba(131, 144, 183, 0.5);
}

.group-10, .group-11 {
    padding: 27px 25px 32px 23px;
    margin-right: 80px;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 6px 4px 20px rgba(131, 144, 183, 0.1);
    height: 100%;
}

.group-569 {
    margin-bottom: 33px;
    box-sizing: border-box;
    width: fit-content;
}

.image-8 {
    width: 167px;
    height: 63px;
    margin-bottom: 9px;
}

.line-5 {
    border-top: 1px solid rgba(219, 226, 238, 1);
    width: 314px;
    height: 1px;
    opacity: 0.8;
    margin-bottom: 15px;
}

.txt-177 {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(117, 117, 117, 1);
    word-wrap: break-word;
    margin-bottom: 17px;
}

.txt-216 {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(18, 16, 50, 1);
    width: 312px;
    word-wrap: break-word;
    margin-bottom: 21px;
}

.group-625 {
    margin-bottom: 23px;
    box-sizing: border-box;
    width: fit-content;
}

.frame-1 {
    position: relative;
    margin-right: 17px;
    box-sizing: border-box;
    height: 100%;
}

.group-14 {
    position: absolute;
    top: 0px;
    left: 50px;
    padding: 10px 5.5px 8.5px 5px;
    box-sizing: border-box;
    border-radius: 18.5px;
    background-color: rgba(247, 199, 46, 1);
    border: 0px solid rgba(0, 0, 0, 1);
    width: 36.5px;
    height: 100%;
}

.txt-1012 {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    word-wrap: break-word;
}

._-74 {
    position: absolute;
    top: 0px;
    left: 33px;
    width: 36.5px;
    height: 100%;
}

._-761 {
    position: absolute;
    top: 0px;
    left: 17px;
    width: 36.5px;
    height: 100%;
}

._-75 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 36.5px;
    height: 100%;
}

.txt-763 {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(18, 16, 50, 1);
    width: 123px;
    word-wrap: break-word;
    position: relative;
    bottom: 10px;
}

.line-4 {
    border-top: 1px solid rgba(219, 226, 238, 1);
    width: 314px;
    height: 1px;
    opacity: 0.8;
}

.group-6 {
    padding: 13px 54px 18px 49px;
    box-sizing: border-box;
    border-radius: 6px;
    background: linear-gradient(0deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1)),
    linear-gradient(0deg, rgba(18, 16, 50, 1), rgba(18, 16, 50, 1));
    border: 2px solid rgba(18, 16, 50, 1);
    height: 60px;
    width: fit-content;
    box-shadow: 4px 4px 0px rgba(18, 16, 50, 1);
    position: relative;
    bottom: 20px;
}

.txt-242 {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(18, 16, 50, 1);
    text-align: center;
    width: 143px;
    word-wrap: break-word;
}

.group-10 {
    padding: 27px 25px 32px 23px;
    margin-right: 80px;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 6px 4px 20px rgba(131, 144, 183, 0.1);
    height: 100%;
}

.group-569 {
    margin-bottom: 33px;
    box-sizing: border-box;
    width: fit-content;
}

.group-387 {
    margin-bottom: 15px;
    box-sizing: border-box;
    width: fit-content;
}

.line-4 {
    border-top: 1px solid rgba(219, 226, 238, 1);
    height: 1px;
    opacity: 0.8;
    width: 100%;
    margin-bottom: 15px;
}

.image-13 {
    width: 157px;
    height: 44px;
    margin-bottom: 9px;
}

.powered-by {
    width: 73px;
    height: 27px;
    position: relative;
    top: 7px;
    left: 80px;
}

.txt-177 {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(117, 117, 117, 1);
    word-wrap: break-word;
    margin-bottom: 17px;
}

.txt-216 {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(18, 16, 50, 1);
    width: 312px;
    word-wrap: break-word;
    margin-bottom: 21px;
}

.group-625 {
    margin-bottom: 23px;
    box-sizing: border-box;
    width: fit-content;
}

.frame-1 {
    position: relative;
    margin-right: 17px;
    box-sizing: border-box;
    height: 100%;
}

.group-14 {
    position: absolute;
    top: 0px;
    left: 50px;
    padding: 10px 5.5px 8.5px 5px;
    box-sizing: border-box;
    border-radius: 18.5px;
    background-color: rgba(247, 199, 46, 1);
    border: 0px solid rgba(0, 0, 0, 1);
    width: 36.5px;
    height: 100%;
}

.txt-1012 {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    word-wrap: break-word;
}

._-74 {
    position: absolute;
    top: 0px;
    left: 33px;
    width: 36.5px;
    height: 100%;
}

._-761 {
    position: absolute;
    top: 0px;
    left: 17px;
    width: 36.5px;
    height: 100%;
}

._-75 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 36.5px;
    height: 100%;
}

.txt-763 {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(18, 16, 50, 1);
    width: 123px;
    word-wrap: break-word;
}

.line-4 {
    border-top: 1px solid rgba(219, 226, 238, 1);
    width: 314px;
    height: 1px;
    opacity: 0.8;
}

.group-7 {
    padding: 12px 70px 17px 67px;
    box-sizing: border-box;
    border-radius: 6px;
    background: linear-gradient(0deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1)),
    linear-gradient(0deg, rgba(18, 16, 50, 1), rgba(18, 16, 50, 1));
    border: 3px solid rgba(18, 16, 50, 1);
    height: 60px;
    width: fit-content;
    position: relative;
    bottom: 20px;
}

.txt-877 {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(18, 16, 50, 1);
    text-align: center;
    word-wrap: break-word;
}

.group-12 {
    padding: 29px 25px 32px 23px;
    margin-right: 80px;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 6px 4px 20px rgba(131, 144, 183, 0.1);
    height: 100%;
}

.group-569 {
    margin-bottom: 33px;
    box-sizing: border-box;
    width: fit-content;
}

.image-10 {
    width: 150px;
    height: 47px;
    margin-bottom: 23px;
}

.line-5 {
    border-top: 1px solid rgba(219, 226, 238, 1);
    width: 314px;
    height: 1px;
    opacity: 0.8;
    margin-bottom: 15px;
}

.txt-177 {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(117, 117, 117, 1);
    word-wrap: break-word;
    margin-bottom: 17px;
}

.txt-216 {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(18, 16, 50, 1);
    width: 312px;
    word-wrap: break-word;
    margin-bottom: 21px;
}

.group-625 {
    margin-bottom: 23px;
    box-sizing: border-box;
    width: fit-content;
}

.frame-1 {
    position: relative;
    margin-right: 17px;
    box-sizing: border-box;
    height: 100%;
}

.group-14 {
    position: absolute;
    top: 0px;
    left: 50px;
    padding: 10px 5.5px 8.5px 5px;
    box-sizing: border-box;
    border-radius: 18.5px;
    background-color: rgba(247, 199, 46, 1);
    border: 0px solid rgba(0, 0, 0, 1);
    width: 36.5px;
    height: 100%;
}

.txt-1012 {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    word-wrap: break-word;
}

._-74 {
    position: absolute;
    top: 0px;
    left: 33px;
    width: 36.5px;
    height: 100%;
}

._-761 {
    position: absolute;
    top: 0px;
    left: 17px;
    width: 36.5px;
    height: 100%;
}

._-75 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 36.5px;
    height: 100%;
}

.txt-763 {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(18, 16, 50, 1);
    width: 123px;
    word-wrap: break-word;
}

.line-4 {
    border-top: 1px solid rgba(219, 226, 238, 1);
    width: 314px;
    height: 1px;
    opacity: 0.8;
}

.group-7 {
    padding: 12px 70px 17px 67px;
    box-sizing: border-box;
    border-radius: 6px;
    background: linear-gradient(0deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1)),
    linear-gradient(0deg, rgba(18, 16, 50, 1), rgba(18, 16, 50, 1));
    border: 3px solid rgba(18, 16, 50, 1);
    height: 60px;
    width: fit-content;
}

.txt-877 {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(18, 16, 50, 1);
    text-align: center;
    word-wrap: break-word;
}

.group-13 {
    padding: 31px 25px 32px 23px;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 6px 4px 20px rgba(131, 144, 183, 0.1);
    height: 100%;
}

.group-569 {
    margin-bottom: 33px;
    box-sizing: border-box;
    width: fit-content;
}

.image-11 {
    width: 150px;
    height: 47px;
    margin-bottom: 21px;
}

.line-5 {
    border-top: 1px solid rgba(219, 226, 238, 1);
    width: 314px;
    height: 1px;
    opacity: 0.8;
    margin-bottom: 15px;
}

.txt-177 {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(117, 117, 117, 1);
    word-wrap: break-word;
    margin-bottom: 17px;
}

.txt-216 {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(18, 16, 50, 1);
    width: 312px;
    word-wrap: break-word;
    margin-bottom: 21px;
}

.group-625 {
    margin-bottom: 23px;
    box-sizing: border-box;
    width: fit-content;
}

.frame-1 {
    position: relative;
    margin-right: 17px;
    box-sizing: border-box;
    height: 100%;
}

.group-14 {
    position: absolute;
    top: 0px;
    left: 50px;
    padding: 10px 5.5px 8.5px 5px;
    box-sizing: border-box;
    border-radius: 18.5px;
    background-color: rgba(247, 199, 46, 1);
    border: 0px solid rgba(0, 0, 0, 1);
    width: 36.5px;
    height: 100%;
}

.txt-1012 {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    word-wrap: break-word;
}

._-74 {
    position: absolute;
    top: 0px;
    left: 33px;
    width: 36.5px;
    height: 100%;
}

._-761 {
    position: absolute;
    top: 0px;
    left: 17px;
    width: 36.5px;
    height: 100%;
}

._-75 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 36.5px;
    height: 100%;
}

.txt-763 {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(18, 16, 50, 1);
    width: 123px;
    word-wrap: break-word;
}

.line-4 {
    border-top: 1px solid rgba(219, 226, 238, 1);
    width: 314px;
    height: 1px;
    opacity: 0.8;
}

.group-7 {
    padding: 12px 70px 17px 67px;
    box-sizing: border-box;
    border-radius: 6px;
    background: linear-gradient(0deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1)),
    linear-gradient(0deg, rgba(18, 16, 50, 1), rgba(18, 16, 50, 1));
    border: 3px solid rgba(18, 16, 50, 1);
    height: 60px;
    width: fit-content;
}

.txt-877 {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: rgba(18, 16, 50, 1);
    text-align: center;
    word-wrap: break-word;
}

.group-16 {
    position: absolute;
    top: 728px;
    left: 645px;
    width: 629px;
    height: 99px;
}

.txt-953 {
    font-size: 36px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 14px;
}

.txt-568 {
    font-size: 15px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    word-wrap: break-word;
}

.frame-3 {
    position: absolute;
    top: 1380px;
    left: 894px;
    width: 132px;
    height: 12px;
}

.ellipse-4 {
    background-color: rgba(219, 226, 238, 1);
    width: 12px;
    border-radius: 6px;
    margin-right: 12px;
    height: 100%;
}

.ellipse-8 {
    background-color: rgba(172, 184, 220, 1);
    width: 12px;
    border-radius: 6px;
    margin-right: 12px;
    height: 100%;
}

.ellipse-9 {
    background-color: rgba(219, 226, 238, 1);
    width: 12px;
    border-radius: 6px;
    height: 100%;
}

.txt-791 {
    position: absolute;
    top: 67px;
    left: 238px;
    font-size: 32px;
    font-family: Sephia Signature, sans-serif;
    font-weight: 400;
    color: rgba(42, 41, 119, 1);
    width: 20px;
    height: 63px;
    word-wrap: break-word;
}

.txt-489 {
    position: absolute;
    top: 82px;
    left: 248px;
    font-size: 32px;
    font-family: Sephia Signature, sans-serif;
    font-weight: 400;
    color: rgba(42, 41, 119, 1);
    width: 71px;
    height: 63px;
    word-wrap: break-word;
}

.card-location {
    margin-bottom: 20px;
    position: relative;
    top: 3px;
    font-weight: 500;
    font-family: 'Montserrat';
    left: 5px;
}

.location-text {
    bottom: 2px;
    position: relative;
}